/* Background */
body {
    background: #bf5a3b;
    font-family: 'Comic Sans MS', 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    margin: 0;
    padding-bottom: 10em;
}

/* Container */
#parent-container {
    padding: 30px 40px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 400px;
}

#first-container {
    padding: 10px 20px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    align-items: center;
}

#second-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Input */
input[type="text"] {
    font-family: 'Comic Sans MS', 'Poppins', sans-serif;
    padding: 6px 15px;
    width: 250px;
    border: 2px solid #0366c7;
    border-radius: 12px;
    background-color: white;
    font-size: 16px;
    outline: none;
    margin-right: 10px;
    color: #d10600;
    transition: 0.3s;
}

/* Buttons */
#name-button {
    background-color: #0366c7;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ff69b4;
}

/* Output Text */
h3 {
    color: #d10600;
    font-weight: 500;
    font-size: 16px;
    margin-top: 20px;
    word-break: break-word;
    width: 250px;
    white-space: nowrap;       
    overflow: hidden;           
    text-overflow: ellipsis;
    text-align: start;
    background: white;
    padding: 0.3em 0.5em;
    margin-right: 0.5em;
    border-radius: 10px;
    display: none;
}

/* Specific Styling */
#copy-button {
    background-color: #0366c7;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
    display: none;
    padding: 0.5em 1.5em;
    height: min-content;
}

#copy-button:hover {
    background-color: rgb(25, 74, 124);
}


#name-input::placeholder {
    color: #b18583;              
    font-style: italic;      
    font-weight: normal;     
    opacity: 1;            
    font-size: 14px;       
    font-family: 'Comic Sans MS', 'Poppins', sans-serif;
}

img {
    width: 30em;
}